<!-- TODO: Take list of all possible focuses from the data dictionary -->
<!-- TODO: Add a shout-out to Microsoft Azure, Heroku, Node.js, Express.js, MongoDB, and mLab -->
<!-- TODO: Use jQuery to send the POST requests -->
<!-- TODO: Find a way to loop over all the US states for the dropdown -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <title>CollegeSearch</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">CollegeSearch</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="page-content" class="container">
      <div class="row">
        <div class="col-lg">
          <div class="card">
            <div class="card-header">
              <h1 class="card-title">Find the perfect college for you!</h1>
            </div>
            <div class="card-body">
              <form action="/student-profile" method="POST">
                <div class="form-group">
                  <label for="satScoreInput">Enter your SAT score</label>
                  <input class="form-control" placeholder="SAT score" type="text" name="satScore" id="satScoreInput">
                </div>
                <div class="form-group">
                  <label for="gpaInput">Enter your GPA</label>
                  <input class="form-control" placeholder="GPA" type="text" name="gpa" id="gpaInput">
                </div>
                <div class="form-group">
                  <label for="focusSelect">What do you want to study in college?</label>
                  <select class="custom-select" name="focus" id="focusInput">
                    <option value="agriculture">Agriculture, Agriculture Operations, And Related Sciences</option>
                    <option value="resources">Natural Resources And Conservation</option>
                    <option value="architecture">Architecture And Related Services</option>
                    <option value="ethnic_cultural_gender">Area, Ethnic, Cultural, Gender, And Group Studies</option>
                    <!-- TODO: Finish this list -->
                  </select>
                </div>
                <div class="form-group">
                  <label for="stateSelect">What state do you want to go to college in?</label>
                  <select class="custom-select" name="state" id="stateInput">
                    <option value="alabama">Alabama</option>
                    <option value="alaska">Alaska</option>
                    <option value="arizona">Arizona</option>
                    <option value="arkansas">Arkansas</option>
                    <option value="california">California</option>
                    <option value="colorado">Colorado</option>
                    <option value="connecticut">Connecticut</option>
                    <option value="delaware">Delaware</option>
                    <option value="florida">Florida</option>
                    <option value="georgia">Georgia</option>
                    <option value="hawaii">Hawaii</option>
                    <option value="idaho">Idaho</option>
                    <option value="illinois">Illinois</option>
                    <option value="indiana">Indiana</option>
                    <option value="iowa">Iowa</option>
                    <option value="kansas">Kansas</option>
                    <option value="kentucky">Kentucky</option>
                    <option value="louisiana">Louisiana</option>
                    <option value="maine">Maine</option>
                    <option value="maryland">Maryland</option>
                    <option value="massachusetts">Massachusetts</option>
                    <option value="michigan">Michigan</option>
                    <option value="minnesota">Minnesota</option>
                    <option value="mississippi">Mississippi</option>
                    <option value="missouri">Missouri</option>
                    <option value="montana">Montana</option>
                    <option value="nebraska">Nebraska</option>
                    <option value="nevada">Nevada</option>
                    <option value="new-hampshire">New Hampshire</option>
                    <option value="new-jersey">New Jersey</option>
                    <option value="new-mexico">New Mexico</option>
                    <option value="new-york">New York</option>
                    <option value="north-carolina">North Carolina</option>
                    <option value="north-dakota">North Dakota</option>
                    <option value="ohio">Ohio</option>
                    <option value="oklahoma">Oklahoma</option>
                    <option value="oregon">Oregon</option>
                    <option value="pennsylvania">Pennsylvania</option>
                    <option value="rhode-island">Rhode Island</option>
                    <option value="south-carolina">South Carolina</option>
                    <option value="south-dakota">South Dakota</option>
                    <option value="tennessee">Tennessee</option>
                    <option value="texas">Texas</option>
                    <option value="utah">Utah</option>
                    <option value="vermont">Vermont</option>
                    <option value="virginia">Virginia</option>
                    <option value="washington">Washington</option>
                    <option value="west-virginia">West Virginia</option>
                    <option value="Wisconsin">Wisconsin</option>
                    <option value="Wyoming">Wyoming</option>
                  </select>
                </div>
                <button class="btn" type="submit" id="collegeListSubmitBtn">Make my college list!</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg">
          <div class="card">
            <div class="card-header">
              <h1 class="card-title">Search for a college</h1>
            </div>
            <div class="card-body">
              <form action="/search" method="POST">
                <div class="form-group">
                  <label for="schoolNameInput">Enter the name of a college you want to learn more about</label>
                  <input id="schoolNameInput" name="schoolName" class="form-control" placeholder="Super Cool University" type="text">
                </div>
                <button id="searchSubmitBtn" type="submit" class="btn">Find my college!</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg">
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
